
*{
    margin: 0;
}

.banner-class{
}
.banner-img{
    margin-top: 0px;

}

.banner-img img{
    width: 100%;
    height: auto;
    opacity: 90%;
}





@media (max-width: 769px) {
    .banner-img{
        margin-top: 0px;
        overflow: hidden;

    
    }
    .banner-img img {
        width: auto;
        height: 100vh;

    }
  }